php_flag display_errors on
php_value error_log "/home/litesign/php-errors.log"
php_value include_path ".:/home/litesign:/home/litesign/com/mephex/external/pear/PEAR"
php_value auto_prepend_file "com/mephex/framework/RestrainOutput.php"
php_value auto_append_file "com/mephex/framework/Run.php"

ErrorDocument 404 /errors.php?error=404