php_flag display_errors on
php_value error_log "/home/lightster/php-errors.log"
php_value include_path ".:/home/litesign:/home/litesign/pear/php:/usr/local/lib/php/PEAR"
php_value auto_prepend_file "com/mephex/framework/RestrainOutput.php"
php_value auto_append_file "com/mephex/framework/Run.php"

ErrorDocument 404 /errors.php?error=404